<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <title>MyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
	<body>
		<div class="logo-container">
					<img class="logo" src="<%= image_url('logo.png') %>" />
		</div>
		<div id="page-container">
			<div id="dashboard">
				<div id="profile-summary">
					<div class="content">
						<img class='avatar' src='img/alagoon.jpg' />
						<p>
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
					</div>
				</div>
				<div id="tweet-content">

					<!-- STEP 2: When the user clicks on the textarea, the textarea should double in size and the character count and Tweet buttons should be revealed. -->
					<!-- HINT: jQuery ".on" eventHandler -->
					<textarea class="tweet-compose" placeholder="Compose new Tweet..."/></textarea>

					<!-- STEP 1: Initially, the Tweet button and the character count button below should be hidden. -->
					<!-- HINT: Use CSS -->
					<div id="tweet-controls">

						<!-- STEP 3: As the user types the character count should decrease. Once it hits 10 character or less the count should turn red -->
						<!-- HINT: jQuery keypress events (keypress, keydown, keyup, etc) -->
						<div id="char-count">140</div>

						<!-- STEP 4: If the user puts in more than 140 characters, the tweet button should be disabled (and re-enabled when there are <= 140 chars) -->
						<!-- HINT: javascript length method -->
						<button class="button" id="tweet-submit">Tweet</button>
					</div>
				</div>
			</div>
			<div id="main">
				<p class="notice"><%= notice %></p>
				<p class="alert"><%= alert %></p>
				<h2>Tweets</h2>
				<div id="stream">
					<%= yield %>
				</div><!-- #stream -->
			</div><!-- #main -->
		</div>
		<!-- #page-container -->
	</body>
</html>
