<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<title>MyApp</title>
	<%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?v=3&sensor=true?key=AIzaSyDcda1X8RDRIajfpn4BEECvrL5mA3O7f3U' %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><img class="logo" src="<%= image_url('logo.png') %>" /></a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="#">Inicio</a>
						</li>
						<% if user_signed_in? %>
						<li>
							<%= link_to "Mapas", { :controller => :maps, :action => :index } %>
						</li>
						<li>
							<%= link_to "Logout", destroy_user_session_path, method: :delete %>
						</li>
						<% else %>
						<li>
							<%= link_to "Sign up", new_user_registration_path  %>
						</li>
						<li>									
							<%= link_to "Login", new_user_session_path %>
						</li>
						<% end %>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>
		<div class="container" id="page-container">
			<div class="col-md-4">
				<div id="dashboard">
					<div id="profile-summary">
						<div class="content">
							<img class='avatar' src='<%= image_url('kimy.png') %>' />
							<p>
								<% if user_signed_in? %>
									Logged in as <strong><%= current_user.email %></strong>.
									<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
									<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
								<% else %>
									<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
									<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
								<% end %>
							</p>
						</div>
					</div>
					<div id="tweet-content">
						<%= yield :composetweet %>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div id="main">
					<p class="notice"><%= notice %></p>
					<p class="alert"><%= alert %></p>
					<h2>Tweets</h2>
					<div id="stream">
						<%= yield %>
					</div><!-- #stream -->
				</div><!-- #main -->
			</div>
		</div>
		<!-- #page-container -->
		<!-- footer section -->
		<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
				<p>Copyright &copy; 2016 Taco Inc. </p>
				<ul class="list-inline social-icons">
					<li><a href="#" class="fa fa-facebook"></a></li>
					<li><a href="#" class="fa fa-google-plus"></a></li>
					<li><a href="#" class="fa fa-twitter"></a></li>
					<li><a href="#" class="fa fa-dribbble"></a></li>
					<li><a href="#" class="fa fa-github"></a></li>
					<li><a href="#" class="fa fa-behance"></a></li>
				</ul>
				</div>
			</div>
		</div>
		</footer>
	</body>
	<%= yield :script %>
</html>
